* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* HEADER */
.header {
    display: flex;
    height: 10%;
}

.header-left {
    width: 20%;
    background-color: #4a6fa5;
    border: 2px solid white;
}

.header-right {
    width: 80%;
    background-color: #3a5f9e;
    border: 2px solid white;
}

/* NAV */
.nav {
    display: flex;
    height: 10%;
}

.nav div {
    width: 25%;
    background-color: #4fc3a1;
    border: 2px solid white;
}

/* MAIN */
.main {
    display: flex;
    height: 65%;
}

/* ASIDE */
.aside {
    width: 25%;
    background-color: #7cb66a;
    border: 2px solid white;
}

/* CONTENT */
.content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.content-top {
    height: 40%;
    background-color: #f2b66d;
    border: 2px solid white;
}

.content-bottom {
    height: 60%;
    display: flex;
}

.content-bottom div {
    width: 50%;
    background-color: #6d93c6;
    border: 2px solid white;
}

/* FOOTER */
.footer {
    display: flex;
    height: 15%;
}

.footer div {
    background-color: #9ca3af;
    border: 2px solid white;
}

.footer div:nth-child(1) {
    width: 50%;
}

.footer div:nth-child(2),
.footer div:nth-child(3) {
    width: 25%;
}

