/* Estilos específicos - Práctica 05 */

h1, h2 {
  text-align: center;
}

.panel {
  border: 2px solid #000;
  border-radius: 14px;
  padding: 16px;
}

input {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.texto-chico {
  font-size: 0.85em;
}

.boton-peligro {
  border: 1px solid red;
  color: red;
}
