.kanban {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #0f172a;
  min-height: 100vh;
  color: white;
}

h1 {
  text-align: center;
  color: #38bdf8;
}

.sub {
  text-align: center;
  margin-bottom: 20px;
  color: #cbd5f5;
}

.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  width: 200px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.columnas {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.col {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  min-height: 200px;
}

.pendiente {
  background: #1e293b;
}

.proceso {
  background: #334155;
}

.terminada {
  background: #14532d;
}

.tarea {
  background: #020617;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.botones {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.limpiar {
  margin: 20px auto;
  display: block;
  background: #ef4444;
  color: white;
}
